@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #f5f7f7;
  font-family: "Noto Sans KR", sans-serif;
}

button {
  all: unset;
}

ul,
li {
  list-style: none;
}
